<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="false">
    <test name="Test">
        <groups>
            <run>
                <include name="login" />
            </run>
        </groups>

        <classes>
            <class name="test.login.loginTestSeit"/>
            <methods preserve-order="true">
                <include name="setUp" />
                <include name="taerdown" />
                <include name="Login_phone_TestCase_01" />
            </methods>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->